
export(create_basis_one)
export(create_basis_multiple)
export(add_clustering_single_cell_dataset)
export(add_grouping_single_cell)
export(aggregate_true_top_clustering_prop)
export(calculate_best_cluster_global)
export(calculate_best_clustering_generic)
export(calculate_joint_cor)
export(calculate_k_clustering)
export(calculate_markers)
export(calculate_markers_level_intersection)
export(calculate_min_correlation_incremental_markers)
export(calculate_p_values_wt_vs_ko)
export(calculate_performance_metrics)
export(calculate_prop_back_propagation)
export(calculate_sparseness_matrix)
export(checkHT)
export(choose_model_from_grid_search_object)
export(create_dataframe_results_multiple_deconvolutions)
export(decoflex_build_cell_reference)
export(environment_creation)
export(filter_main_celltypes)
export(generateBulk_allcells)
export(getESET)
export(hierachy_selection_plus_deconvolution)
export(join_back_propagation_proportions_leaves)
export(load_libraries)
export(order_result_generic)
export(order_simple_vector)
export(performance_metrics_general)
export(performance_plot_multiple_deconvolutions)
export(plot_deconvolution_performance_x_y_z_total)
export(plot_heatmap_alpha_beta)
export(plot_heatmap_correlation_reference)
export(plot_hierarchical_clustering)
export(plot_performance_for_each_model)
export(print_performance_metrics)
export(recalculate_proportions)
export(run_deconvolution_simulation)
export(run_deconvolution_simulation_generic)
export(run_deconvolution_simulation_generic_recursive)
export(run_deconvolution_tree_guided)
export(run_standard_deconvolution)
export(run_complete_deconvolution)
export(run_grid_search)
export(save_plot_as_pdf)
import(Biobase)
import(RColorBrewer)
import(Seurat)
import(ggplot2)
import(grDevices)
import(graphics)
import(plyr)
import(reticulate)
import(stats)
import(Matrix)
